{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}
{% block content %}
<h1>Produtos</h1>
<table class="table">
  <thead>
    <tr>
       <th>ID</th>
       <th>Nome</th>
       <th>Preço</th>
       <th>Estoque</th>
       <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>R$ {{ product.price }}</td>
      <td>{{ product.stock }}</td>
      <td>
         <a class="btn btn-sm btn-warning" href="{{ url_for('product_routes.edit_product', product_id=product.id) }}">Editar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="mt-4">
  <a class="btn btn-success" href="{{ url_for('product_routes.new_product') }}">Cadastrar Novo Produto</a>
</div>
{% endblock %}
